<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
    <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide" style="padding-bottom:var(--wp--preset--spacing--50)">
        <!-- wp:query-title {"type":"archive"} /-->
        <!-- wp:term-description {"fontSize":"medium","textColor":"secondary"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"egnitech-layout-wrapper","layout":{"type":"constrained"},"align":"wide"} -->
    <div class="wp-block-group alignwide egnitech-layout-wrapper">
        <!-- wp:group {"className":"egnitech-main-content"} -->
        <div class="wp-block-group egnitech-main-content">
            <!-- wp:pattern {"slug":"egnitech-one/query-loop"} /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:template-part {"slug":"sidebar","tagName":"aside","area":"sidebar","className":"egnitech-sidebar-area"} /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->