<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"egnitech-contact-page","layout":{"type":"constrained"}} -->
<main class="wp-block-group egnitech-contact-page">

    <!-- wp:group {"align":"wide","className":"egnitech-contact-container"} -->
    <div class="wp-block-group alignwide egnitech-contact-container">

        <!-- wp:pattern {"slug":"egnitech-one/contact-info"} /-->

        <!-- wp:group {"className":"egnitech-contact-form-wrapper"} -->
        <div class="wp-block-group egnitech-contact-form-wrapper">
            <!-- wp:pattern {"slug":"egnitech-one/contact-form"} /-->
        </div>
        <!-- /wp:group -->

    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"wide","className":"egnitech-page-content-wrapper"} -->
    <div class="wp-block-group alignwide egnitech-page-content-wrapper">
        <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
    </div>
    <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->